.image-detail {
  text-align: center;
  padding-bottom: 1rem;
}
.title-detail {
  text-align: center;
  padding: 0;
  font-size: 40px;
  font-weight: bold;
}
.film-details {
  margin: auto;
  text-align: center;
  font-size: 20px;
  width: 45%;
}

.imageDetail {
  width: 40%;
  height: 40%;
}
.btn-floating.halfway-fab {
  top: 30%;
}
