@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.noTransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
